body {
  max-width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.table th {
  border-top: 0;
}

#back-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

#back-nav .oi {
  font-size: 18px;
}

#bottom-nav {
  margin: 20px 0;
}

.amount {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
}

.allowance-type {
  display: inline-block;
  width: 80px;
}

.surplus {
  color: green;
}

.deficit {
  color: red;
}

.menu-dropdown {
  position: absolute;
  right: 0;
}

.menu-dropdown > .dropdown-toggle::after {
  border: 0 !important;
}

.login-button {
  margin-top: 3rem;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.div-button:hover {
  cursor: pointer;
}

.cell-padding {
  padding: 10px 5px !important;
  /*margin: 0 !important;*/
}

.transaction-list-item:hover {
  cursor: pointer;
}

.transaction-list-item:nth-child(2n) {
  background-color: rgba(135,206,250,0.15);
}

.transaction-list-item:nth-child(2n - 1) {
  background-color: rgba(135,206,250,0.3);
}

#overview .card-header-content {
  color: #333;
}

#overview .card-header-content .card-header-button {
  padding: 20px 10px 10px;
}

#overview .card-header a {
  color: #333;
}

#overview .card-header a:hover {
  text-decoration: none;
}

#overview .progress {
  border-radius: 0;
  background-color: #fff;
}

#overview .progress-bar {
  height: 3px;
  background-color: #bbb;
}

#overview .progress-bar.surplus {
}

#overview .progress-bar.deficit {
}

#overview .card {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

#overview .card-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
}
