@import '/components/viewHolder/viewHolder.less';
@import './components/categoryList/categoryList.less';
@import './components/categoryListAdjust/categoryListAdjust.less';
@import './components/categorySummary/categorySummary.less';
@import './components/categorySummaryEdit/categorySummaryEdit.less';
@import './components/budgetSummary/budgetSummary.less';
@import './components/categoryAdd/categoryAdd.less';
@import './components/categoryEdit/categoryEdit.less';
@import './components/transactionAdd/transactionAdd.less';
@import './components/shared/debitCreditList.less';
@import './components/shared/formElements.less';

html, body {
  overflow-x: hidden;
}

body {
  font-size: 12pt;
  font-family: Helvetica, sans-serif;
  color: #333;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

#views {
  width: 100%;
  display: flex;
  flex-direction: row;
}
